In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(data= {'a': np.random.randint(-1,2,5)})

In [3]:
df['a2'] = df.a
df.loc[df.a <0, 'a2'] = 0
df

   a  a2
0  1   1
1  0   0
2 -1   0
3 -1   0
4  0   0

In [4]:
df['b'] = np.random.randint(-1,2,5)

In [5]:
df['b2'] = df.b
df.b2 = df.b2.apply(lambda x: 0 if(x < 0) else x)
df

   a  a2  b  b2
0  1   1 -1   0
1  0   0  0   0
2 -1   0 -1   0
3 -1   0  1   1
4  0   0  0   0

In [6]:
# pelo aplly também dá para passar várias colunas, verificando se o produto é negativo:
def imput(cols):
    produto = cols[0] * cols[1]
    if produto < 0: return 0
    else: return produto

In [8]:
df['ab'] = df[['a', 'b']].apply(imput, axis=1)
df

   a  a2  b  b2  ab
0  1   1 -1   0   0
1  0   0  0   0   0
2 -1   0 -1   0   1
3 -1   0  1   1   0
4  0   0  0   0   0