## Métodos do Pandas:
- criação DataFrame
- sort, drop, index, rename
- append, merge e concat
- group by
- crosstab e pivot_table <https://pbpython.com/pandas-pivot-table-explained.html>
- multiindices
- total linha, coluna, DataFrame

In [2]:
import pandas as pd
import numpy as np

In [ ]:
pd.options.display.float_format = 'R${:,.2f}'.format

In [ ]:
pd.read_excel('nome_arq.xlsx', sheet_name = 'nome_plan')

In [ ]:
gp = df.groupby('cat1', 'cat2').vel.agg(['sum','count']).sort_values(by=['count','sum'],ascending=False)
df.groupby(['cat1','cat2'])[['quant1', 'quant2']].agg([np.sum, np.mean])
gp['percentual'] = gp.apply(lambda x: x/x.sum())

In [ ]:
gp['perc_cat1'] = gp.groupby(level=0).apply(lambda x: x/x.sum())  # % por cat1

In [ ]:
gp.cumsum()
gp.groupby(level=0).cumsum()

In [ ]:
df.groupby(['cat1', 'cat2']).agg({'quant1':[np.sum, np.mean], 'quant2':['sum']}).sort_values(by=[('imposto', 'sum')], ascending=False).head(6)

In [ ]:
gp = df.groupby('cat1').agg({'num1': [('sum_num1', 'sum'), ('mean_num1', 'mean')]})
gp.columns = gp.columns.droplevel()

In [ ]:
df.pivot_table(index= ['Descricao Municipio : 0030', 'Descricao N630 – Apuracao do IRPJ com base no Lucro Real'],
              aggfunc=[np.sum], fill_value=0, columns= ['Data final ECF : 0000: Ano'], 
               values= ['Valor N630 – Apuracao do IRPJ com base no Lucro Real', 'Quantidade de Registros'])

In [ ]:
pd.concat([df1, df2])  # axis=0, join= 'outer'    empilhamento vertical

In [ ]:
pd.concat([df1, df2], axis= 1)
pd.merge(df1, df2, how='left',left_index=True, right_index=True)

In [ ]:
pd.merge(df1, df2, how= 'left', on= 'cnae')  # cuidado com o índice original

In [ ]:
df1.append([df2, df3])

In [ ]:
# lag
df['col_lag1'] = df.col.shift(1)
df['col_lag2'] = df.col.shift(2)

In [ ]:
# col no formato aaaa-mm-dd
df.index = pd.to_datetime(df.mes, format='%Y-%m-%d')
df['ano'] = df.index.to_period('A')
df['ano_mes'] = df.index.to_period('M')

In [ ]:
# dia para mes ou ano
df.resample('M').mean()

In [2]:
nf = pd.DataFrame(data= np.array([[201904, 1], 
                                  [201905, 1], 
                                  [201905, 2], 
                                  [201906, 2],
                                 [201906, 3]])
             , columns= ['dt', 'prod'])
aliq = pd.DataFrame(data= np.array([[1, 201801, 201904, 0.4], 
                                    [1, 201905, 201906, 0.5], 
                                    [2, 201903, 201905, 0.7],
                                   [2, 201906, 201912, 0.8],
                                   [2, 202001, 202012, 0.92]]),
                   columns= ['prod', 'dt_ini', 'dt_fim', 'aliq'])

In [3]:
# atribui aliq a nf
pd.merge(nf, aliq, how= 'left', on=['prod']).query('dt >= dt_ini & dt <= dt_fim')#.drop(columns=['dt_ini', 'dt_fim'])

       dt  prod    dt_ini    dt_fim  aliq
0  201904     1  201801.0  201904.0   0.4
3  201905     1  201905.0  201906.0   0.5
4  201905     2  201903.0  201905.0   0.7
8  201906     2  201906.0  201912.0   0.8

In [4]:
# registros nf ausentes da tab de aliquotas
pd.merge(nf, aliq, how= 'left', on=['prod']).pipe(lambda df: df.loc[df.aliq.isna()])

        dt  prod  dt_ini  dt_fim  aliq
10  201906     3     NaN     NaN   NaN

In [3]:
# apply a function to DataFrame:
df = pd.DataFrame(data= np.array([[10, 1],
                                 [20, 2]]), columns = ['c0', 'c1'])
def imput(cols):
    return cols[0] + cols[1]                          # soma na linha
df['c2'] = df[['c0', 'c1']].apply(imput, axis= 1)
df

   c0  c1  c2
0  10   1  11
1  20   2  22

In [7]:
df.c2.apply(lambda x: x*x if (x < 20) else x+x)

0    121
1     44
Name: c2, dtype: int64

In [ ]:
# registros nulos
sns.heatmap(df.isna(), yticklabels= False, cbar= False, cmap= 'viridis')
df.isna().sum().sort_values(ascending= False)